@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

.dark-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6f708f #191a33;

  &::-webkit-scrollbar {
    width: 12px;
    background: #191a33;
  }

  &::-webkit-scrollbar-thumb {
    background: #2b2c45;
    border-radius: 8px;

    &:hover {
      background: #3d3e5a;
    }
  }

  &::-webkit-scrollbar-corner {
    background: #191a33;
  }
}

.maplibregl-marker {
  cursor: pointer;
}
